
<div class="container-fluid">
   <div class="row"> <div class="col-lg-6">
    <img src="../../../assets/img/logo.png" class="img" alt="">
</div>
<div class="col-lg-6">
    <div class="social">
        <a href="https://www.facebook.com/"></a><i class="bi bi-facebook"></i>&nbsp;
    <a href="https://www.instagram.com/"></a><i class="bi bi-instagram"></i>&nbsp;
    <a href="https://www.twitter.com/"></a><i class="bi bi-twitter"></i>&nbsp;
    <i class="bi bi-envelope-fill"></i>&nbsp;<a href="https://mail.google.com/">info@yashindustries.in.co</a>&nbsp;
    <i class="bi bi-envelope-fill"></i>&nbsp;<a href="https://mail.google.com/">sales@yashindustries.in.co</a>&nbsp;
    <i class="bi bi-telephone-fill"></i>&nbsp;<a href=""> +91 00000 00000</a>
    </div>
</div></div>
</div>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" routerLink
                ="About" role="button" routerLinkActive="active-link">About</a> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  routerLink="About" role="button" routerLinkActive="active-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    About
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="introduction" role="button" routerLinkActive="active-link">Introduction</a></li>
                  <li><a class="dropdown-item" routerLink="Company" role="button" routerLinkActive="active-link">Company Profile</a></li>
                  
                  <li><a class="dropdown-item" routerLink="Esteemed" role="button" routerLinkActive="active-link">Esteemed Clients</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Products" routerLinkActive="active-link">Product</a>
              </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="Projects" role="button" routerLinkActive="active-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects and Systems
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="fh_System" role="button" routerLinkActive="active-link">Fire Hydrant System</a></li>
              <li><a class="dropdown-item" routerLink="public_address" role="button" routerLinkActive="active-link">Public Address  & Voice Alarm System</a></li>
              
              <li><a class="dropdown-item" routerLink="signages" role="button" routerLinkActive="active-link">Signages</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="Services" role="button" routerLinkActive="active-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="eng_sys" role="button" routerLinkActive="active-link">Engineering Services & Consultancy</a></li>
              <li><a class="dropdown-item" routerLink="system" role="button" routerLinkActive="active-link">System Integrator</a></li>
              
              <li><a class="dropdown-item" routerLink="AMC" role="button" routerLinkActive="active-link">Annual Maintenance Contract</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Gallery" routerLinkActive="active-link">Gallary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Contact" routerLinkActive="active-link">Contact Us</a>
          </li>
        </ul>
        
        
      </div>
    </div>
  </nav>