/* .navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
} */

.profile-menu .dropdown-menu {
  right: unset;
  left: 0;
}
.fa-fw {
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.toggle-change::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
.social {
  display: inline-block;
  margin-left: 53px;
  padding: 20px;
  
}

.img {
  height: 60px;
}
