<div class="banner">
    <!-- <div class="content">
          <h1>
              Sustainable <span style="color: crimson;">Steel</span> <br> for a Better<br> <span class="span">Everyday</span> 
          </h1>
      </div> -->
    <div id="carousel" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../../assets/img/homeimg/c1.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>To build a modern world, you need iron</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/img/homeimg/c6.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Pressing to Please</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/img/homeimg/c8.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Iron, given by God, made by man</h5>
          </div>
        </div>
        <div class="carousel-item">
            <img
              src="../../../assets/img/homeimg/c2.jpg"
              class="d-block w-100"
              alt="..." style="height: 650px; width:auto;">
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Pressing to Please</h5>
            </div>
          </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <br />
  <div class="container-fluid px-0">
    <div class="row g-0">
      
        <h5 class="display-5 mb-4">
          Welcome to the Yash Industries
        </h5>
        <h1 id="title">
            Yash Industries Pvt. Ltd.
        </h1>
        <p>
            <b> Yash Industries Steel is the flagship business of the diversified,
                US$ 22 billion Yash Industries Group. As one of India’s leading
                business houses.</b>
        </p>
        <p>
         <b>Yash Industries Group also has interests in energy,
            infrastructure, cement, paints, sports, and venture capital.</b>
        </p>
        <p>
            We are an ISO 9001-2015 Certified Company engaged in manufacturing and integration (i.e Engineering, Procurement and Construction – EPC) of Fire <br> Protection Systems across pan India and abroad.

        </p>
        <div class="text-center">
            
            <a routerLink="read" role="button" routerLinkActive="active-link" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Read More
                &nbsp;<i class="bi bi-arrow-right"></i>
            </a>
          </div>
      <!-- <div class="col-lg-6" style="min-height: 400px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100"
            id="ParaImg"
            src="../../../assets/img/homeimg/c4.jpg"
          />
        </div>
      </div> -->
    <!-- 00000000000000000000000000000000000000000000000000000000000 -->
    <!-- Demo header-->



        

    <!-- 11111111111111111111111111111111111111111111111111111111111 -->
     </div>

  </div>
  
<br>